@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.About{
    margin: 0 auto;
    padding: 45px;
    font-family: Arial, sans-serif;
    background-color: #374558;
}
.About_section{
    background-color: #F2F0F0;
    padding: 15px 45px;
    border-radius:28px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Optional: Add padding for spacing */
}
.leftSide, .rightSide {
    display: flex;
    flex-direction: column;
    margin-bottom: -5%;
}
.leftSide{
    margin-left: 10%;
}
.logo{
    margin-top: 30%;
    margin-left: 15%;
}
.logo_name{
    font-family: "Covered By Your Grace";
    color: #B6B6B6;
    font-size: 50px;
    -webkit-text-stroke: 1px #000000;
    margin-top: -50%;
}
.text1 h2{ 
    margin-left: 32%;
}
.text1 ol{
    text-align: justify;
    margin-left: 27%;
    margin-right: 25px;
    font-size: 18px;
}
.text2 h2{
    text-align: center;
}
/* 
.text2 ol{
  padding: 16px 30px;
}

.text2 ul{
  padding: 0px 0px;
} */

.text2 ol ul{
    font-size: 36px;
}