.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    height: 9%;
    background-color: #202527;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.outlet {
    height: 91%;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 2.5rem;
    height: auto;
}

.logo_section {
    transform: scale(90%);
    height: auto;
    font-size: 1.35rem;
    font-family: "Covered By Your Grace", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 25px; */
}

.logo_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header button {
    margin: 0 5px;
}

.welcome {
    font-size: 18px;
    padding-right: 10px;
}

.welcome span {
    font-size: 20px;
    font-weight: 600;
}

.header a:hover,
.header a:active,
.header a.active {
    /* color: white; */
}
