/* MainNavigation.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    height: 9%;
    background-color: #202527;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.outlet {
    height: 91%;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 3rem;
    height: auto;
    margin: 0 10px 0 0;
}

.logo_section {
    transform: scale(90%);
    height: auto;
    font-size: 2.5rem;
    font-family: "Covered By Your Grace", cursive;
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 25px; */
}

.logo_link {
    display: flex;
    align-items: center;
    text-align: center;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header button {
    margin: 0 5px;
}

.welcome {
    font-size: 18px;
    padding-right: 10px;
}

.welcome span {
    font-size: 20px;
    font-weight: 600;
}

.header a:hover,
.header a:active,
.header a.active {
    /* color: white; */
}

.leftContainer {
    display: flex;
}

.navBar {
    margin-left: 3em;
    align-self: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid white;
}

.navBar button {
    box-shadow: unset;
    margin: 0 0.1em;
    color: #EEEEEE;
    background: none;
    border: none;
    cursor: pointer;
    height: 2em;
}

.navBar button:hover {
    background-color: rgba(217, 217, 217, 0.15);
}

.navBar .active {
    background-color: rgba(217, 217, 217, 0.15);
}
