.tutorial {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.tutorial h2 {
    text-align: center;
    color: #000000;
    font-size: 40px;
}

.tutorial_section {
    margin-top: 20px;
}

.tutorial_step {
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.tutorial_step h3 {
    color: black;
    margin-bottom: 30px;
    font-size: 30px;
}

.step_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step_content .step_image {
    display: flex;
    width: auto;
    height: 100%;
    margin-bottom: 10px;
}

.step_content .step_image img {
    width:  640px;
    height: auto;
    border-radius: 5px;
    margin: 0 10px;
}

.step_content p {
    color: black;
    margin-bottom: 10px;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: 4em;
    margin-top: 4em;
    float: right;
}

.step_content ol {
    padding-left: 20px;
    color: black;
}

.step_content ol li {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 23px;
    letter-spacing: 1px;
}
