dbus-python==1.3.2
distro==1.9.0
PyGObject==3.48.2
setuptools==68.1.2
ssh-import-id==5.11
wheel==0.42.0
flask==3.0.3
flask_cors==5.0.0
python-dotenv==1.0.1
requests==2.32.3
pyjwt==2.9.0
pymysql==1.1.1
openai==1.57.4
faiss-cpu==1.9.0
tiktoken==0.8.0
pydub==0.25.1
opencc==1.1.9
pillow==11.0.0
psutil==6.1.0